.sidebar{
    position: fixed;
    top:55px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 70px;
    z-index: 200;
    padding-top: 5px;
}
.sidebarlink{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
}
.sidebarlink:hover{
    background-color: rgb(209, 209, 209);
    cursor: pointer;

}
.sidebarlink img{
    height:20px;
    margin-bottom: 4px;
}
.sidebarlink div{
    font-family: Roboto, Arial;
    font-size: 9px;
}